header {
  box-shadow: 0px 32px 28px #00000029;
  margin: 0 0 4px;
  padding: 10px;
  height: 211px;
}

.headerWrapper {
  position: relative;
  margin: 38px 127px 232px 160px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.headerWrapper h1 {
  padding: 33px 110px 0;
  font: normal normal 600 36px/48px Segoe UI;
}
.CustomIcon {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  position: absolute;
  bottom: -71px;
  left: -24px;
}
.tableSearch {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.tableSearch label {
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  width: 356px;
}
.tableSearch label input {
  border: none;
  outline: none;
  padding: 5px;
  font-size: 20px;
  width: 100%;
  font-family: var(--fontItalic);
  font-style: italic;
}
.tableSearch label svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.tableSearch label svg .a {
  fill: transparent;
}
.CustomIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.CustomIcon p {
  padding-bottom: 12px;
  margin: 0;
  font-size: 48px;
  color: var(--white);
}
.addIcon {
  background-color: var(--addBtnColor);
}
.userSettingIcon {
  background-color: var(--inactive);
}
.userSettingIcon svg {
  width: 47px;
  height: 47px;
}
.userSettingIcon svg path {
  fill: var(--white);
}
