body,
html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}

@font-face {
  font-family: var(--fontBold);
  src: url("./Assets/font/Segoe\ UI\ Bold.woff");
}
@font-face {
  font-family: var(--font);
  src: url("./Assets/font/Segoe\ UI.woff");
}

:root {
  --contentColor: #f3f3f3;
  --borderColor: #d8d8d8;
  --paginationBtn: #c6c6c6;
  --inactive: #c6c6c6;
  --vpnKeyColor: #7e7ef1;
  --fontBold: "Segoe UI, Semibold";
  --font: "Segoe UI, Light";
}
#root {
  height: 100%;
  width: 100%;
}
.App {
  height: 100%;
  width: 100%;
}
section {
  background-color: var(--contentColor);
  height: 100%;
  width: 100%;
  padding: 38px 127px 0 160px;
}
